@use '../../assets/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$main-bg;
  color: variables.$accent;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

input, button {
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}
